<script>
    function () {
        var utils = {{CustomJS - Utilities}}();
        var ecomm = utils.copy({{DL - data.ecommerce}});
        try {
            var dl = {
                'ecommerce': {
                    'purchase': {
                        'actionField': {
                            'id': ecomm.purchase.actionField.id,                         // Transaction ID. Required for purchases and refunds.
                            'revenue': ecomm.purchase.actionField.revenue,                     // Total transaction value (incl. tax and shipping)
                            'tax': ecomm.purchase.actionField.tax,
                            'shipping': ecomm.purchase.actionField.shipping,
                            'coupon': ecomm.purchase.actionField.coupon
                        },
                        'products': []
                    }
                }
            };

            ecomm.purchase.products.forEach(function (p) {
                dl.ecommerce.purchase.products.push({
                    'name': p.name,
                    'id': p.id,
                    'price': p.price,
                    'brand': p.brand,
                    'category': p.category,
                    'variant': p.variant,
                    'quantity': p.quantity
                })
            });

            return dl;
        } catch (e) {
            console.log(e);
        }
    }
</script>