<script>
    function () {
        var utils = {{CustomJS - Utilities}}();
        var ecomm = utils.copy({{ DL - data.ecommerce}});
        var items = [];

        ecomm.purchase.products.forEach(function (p) {
            newEcomm.ecommerce.purchase.products.push(
                    {
                        item_id: p.id,
                        item_name: p.name,
                        currency: ecomm.currencyCode,
                        item_brand: p.brand,
                        item_category: p.category,
                        item_variant: p.variant,
                        price: p.price,
                        quantity: p.quantity
                    })
        });

        return items;
    }
</script>